.form {
  width: 40%;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 20px;
}

.a1 {
  display: block;
  margin-bottom: 1em;
}

.a2 {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  font-size: 16px;
}

.a3 {
  display: inline-block;
}

.b1 {
  background: white;
  border-radius: 20px;
}

.b2 {
  text-decoration: none;
  color: black;
}
